.switches-view .row
{
    margin-bottom: 20px;
}

.switches-view .device
{
    background-color: #546873;
    border-radius: 5px;
    margin-right: unset;
    margin-left: unset;
    width: 75vw;
    height: 7vw;
    font-size: 1vw;
}

.switches-view .device .row
{
    height: 30%;
    margin: 1vw;
}

.switches-view .device .row .interface
{
    margin-right: 1vw;
    float: left;
    text-align: center;
    height: 100%;
    background-color: #1f1f1f;
    border-color: #151515;
    border-radius: 4px;
    color: #ffffff;
    width: 4vw;
}

.switches-view .device .row .interface.active
{
    background-color: #5cb85c;
    border-color: #4cae4c;
}
